<div class="span12">
    <!--Body content-->

    <form>
        <input style="margin-bottom: 9px" type="text" ng-model="noteName" ng-model-instant>
        <button class="btn" style="margin-bottom: 9px" ng-click="addNote()"><i class="icon-plus"></i>New</button>
    </form>
    <table class="table table-striped">
        <tr ng-repeat="note in notes">
            <td>{{note.id}}</td>
            <td width="100%"><a href="#notes/{{note.id}}">{{note.name}}</a></td>
            <td><button class="btn-small" ng-click="delete(note.id)"><i class="icon-remove"></i></button></td>
        </tr>
    </table>

</div>
